<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Shopping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sarees">Sarees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/halfsarees">HalfSarees</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/chudidhars">Chudidhars</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/kids">Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/frocks">Frocks</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<table>
<tr>
<td><img  class="img_deg" src= "https://www.99sarees.com/images/Products/original/SB46_3399_40253.jpg" width="120"Height="120"> </td>
<td>Fabric:Cotton<br/>Available Colours:Pink&Brown,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://www.kollybollyethnics.com/image/catalog/data/08Mar2019/drashti-dhami-pink-satin-georgette-embroidered-churidar-suit-3203.jpg" width="120"Height="120"> </td>
<td>Fabric:Silk<br/>Available Colours:Pink&White,Blue&Green,Pink&Brown,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://pothysdress.s3.ap-south-1.amazonaws.com/153391_img0.jpg" width="120"Height="120"> </td>
<td>Fabric:Silk<br/>Available Colours:Yellow&Brown,Pink&White,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://i.pinimg.com/originals/94/11/05/94110532c7220a5f8b80419bfe3ecfd3.jpg" width="120"Height="120"> </td>
<td>Fabric:Cotton<br/>Available Colours:Black&Pink,Pink&White,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://pothysdress.s3.ap-south-1.amazonaws.com/142667_img0.jpg" width="120"Height="120"> </td>
<td>Fabric:Cotton<br/>Available Colours:Light Green,Black,Red,Yellow,Green,Blue,Grey</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://th.bing.com/th/id/OIP.77qqfGx-nN1QU0Tp6ODrkQHaLg?pid=ImgDet&rs=1" width="120"Height="120"> </td>
<td>Fabric:Cotton<br/>Available Colours:Blue&Brown,Pink&White,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
</table>

</body>
</html>