<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quick Shopping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sarees">Sarees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/halfsarees">HalfSarees</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/chudidhars">Chudidhars</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/kids">Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/frocks">Frocks</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<table>
<tr>
<td><img  class="img_deg" src= "https://i.pinimg.com/originals/a2/92/09/a2920935c8dba011163f2e1b9948130f.jpg" width="120"Height="120"> </td>
<td><h6>HalfSaree</h6><br/>Fabric:Pattu<br/>Available Colours:Blue&Pink,Blue&Green,Gold&Pink,Yellow&Green,Black&Pink</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://i.pinimg.com/originals/57/c5/bb/57c5bb810e3f6e84e86bd4b246b6e8bf.jpg" width="120"Height="120"> </td>
<td><h6>HalfSaree</h6><br/>Fabric:Kanchi Pattu<br/>Available Colours:Pink&Blue,Blue&Green,Gold&Pink,Black&Gold,Red&Black</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://i.pinimg.com/originals/5a/80/c9/5a80c9a116d4abc037079900b1552c1e.jpg" width="120"Height="120"> </td>
<td><h6>Frocks</h6><br/>Fabric:Net<br/>Available Colours:Blue&White,Pink&Brown,Blue&Green,Gold&Pink,Yellow&Green</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://th.bing.com/th/id/OIP.0g8v34Bosbc1qakdGaG2MAHaLH?pid=ImgDet&rs=1" width="120"Height="120"> </td>
<td><h6>Lehanga</h6><br/>Fabric:Net&Pattu<br/>Available Colours:Yellow&Red,Pink&Brown,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://i.pinimg.com/originals/92/43/ff/9243fffec4ca52026a022c7fe0f733ad.jpg" width="120"Height="120"> </td>
<td><h6>Lehanga</h6><br/>Fabric:Silk<br/>Available Colours:Black&Red,Pink&Brown,Blue&Green,Gold&Pink,Yellow&Green,Black&Gold</td>
</tr>
<tr>
<td><img  class="img_deg" src= "https://th.bing.com/th/id/OIP.UGE9fQEkxQ8gEhGk8g4KrAHaKL?pid=ImgDet&rs=1" width="120"Height="120"> </td>
<td><h6>Palazzo Set</h6><br/>Fabric:Pattu<br/>Available Colours:Pink,Blue,Green,Gold,Yellow,Black</td>
</tr>
</table>

</body>
</html>